/********** index **********/
.index .main-left {
  width: 890px;
}
.index .main-left .image-box {
  width: 350px;
}
.index .main-left .detail-box {
  width: 520px;
}
.index .main-right {
  width: 220px;
}
.index .detail-breadcrumb {
  height: 23px;
  border-bottom: 1px solid #f1f1f1;
}
.index .detail-breadcrumb li {
  float: left;
}
.index .detail-breadcrumb li:last-child i {
  display: none;
}
.index .detail-breadcrumb a {
  color: #333;
  font-size: 12px;
}
.index .detail-breadcrumb a:hover {
  color: #0066ff;
}
.index .detail-breadcrumb i {
  margin: 0 8px;
}
.index h1 {
  display: block;
  font-size: 19px;
  color: #333;
  font-weight: bold;
  line-height: 24px;
}
.index .box-rate {
  margin-top: 10px;
}
.index .box-rate p {
  margin-left: 10px;
  float: left;
}
.index .box-rate i {
  font-size: 16px;
  margin-right: 1px;
  position: relative;
  top: 2px;
}
.index .box-rate span {
  font-size: 12px;
}
.index .box-rate .star {
  background: url(../images/shared/ic-sprites.png) no-repeat -56px -487px;
  width: 107px;
  height: 20px;
  float: left;
  position: relative;
}
.index .box-rate .star span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 60%;
  display: block;
  background: url(../images/shared/ic-sprites.png) no-repeat -175px -487px;
}
.index .box-rate .point {
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
}
.index .box-rate .point span {
  font-weight: normal;
  margin: 0 4px;
}
.index .box-rate .point a {
  color: #00a0ec;
  font-weight: normal;
}
.index .box-rate .point a:hover {
  text-decoration: underline;
}
.index .box-price-wirehouse {
  line-height: 20px;
  border-top: 1px solid #f1f1f1;
  padding-top: 10px;
  margin-top: 10px;
}
.index .box-price-wirehouse .box-price {
  float: left;
}
.index .box-price-wirehouse .cur-price {
  color: #ec2800;
  font-size: 19px;
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
}
.index .box-price-wirehouse .old-price {
  display: inline-block;
  color: #666;
  font-size: 12px;
  text-decoration: line-through;
}
.index .box-price-wirehouse .update_price {
  display: inline-block;
}
.index .box-price-wirehouse .box-wirehouse {
  float: left;
  line-height: 24px;
  margin-left: 4px;
}
.index .box-price-wirehouse .box-wirehouse span {
  font-weight: bold;
}
.index .box-offer p {
  font-weight: bold;
  color: #090;
  padding: 5px 0;
}
.index .box-offer i {
  color: #e60f1e;
  font-size: 17px;
}
.index .box-app > div {
  display: inline-block;
  background: #fff;
  position: relative;
  cursor: pointer;
  line-height: 26px;
  margin-top: 10px;
}
.index .box-app > div:hover .description {
  display: block;
  z-index: 2;
}
.index .box-app .description {
  position: absolute;
  display: none;
  background: #fff;
  top: 31px;
  width: 480px;
  left: 0;
  padding: 10px;
  -webkit-box-shadow: 0 2px 4px #ccc;
          box-shadow: 0 2px 4px #ccc;
}
.index .box-app .description:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  left: 15px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.index .box-app .description:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: -8px;
  left: 17px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}
.index .box-app .app > p {
  color: #00a0ec;
  padding: 0 20px;
  position: relative;
  border: 1px dashed #beebff;
  border-left: 3px solid #beebff;
  margin-right: 20px;
}
.index .box-app .app em {
  font-weight: bold;
}
.index .box-app .app .first {
  font-size: 24px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 4px;
}
.index .box-app .app .description {
  border: 1px solid #00a0ec;
}
.index .box-app .app .description:before {
  border-bottom: 10px solid #00a0ec;
}
.index .box-app .sen-point > p {
  border: 1px dashed #ffc2c7;
  border-left: 3px solid #ffc2c7;
  padding: 0 10px;
  position: relative;
}
.index .box-app .sen-point i {
  color: #e60f1e;
  font-size: 17px;
  position: relative;
  bottom: -2px;
}
.index .box-app .sen-point .description {
  border: 1px solid #e5101d;
}
.index .box-app .sen-point .description:before {
  border-bottom: 10px solid #e5101d;
}
.index .box-info {
  margin-top: 5px;
  padding: 10px 10px 0 10px;
  background: #f5f5f5;
  border: 1px dashed transparent;
  position: relative;
  font-size: 12px;
}
.index .box-info p {
  font-size: 12px;
}
.index .box-info .des {
  color: #505050;
  margin: 5px 0;
  display: block !important;
}
.index .box-info .price {
  color: #090;
}
.index .box-info .box-shipping {
  padding-bottom: 5px;
}
.index .box-info .box-shipping .big {
  color: #090;
  font-weight: bold;
}
.index .box-info .box-shipping p, .index .box-info .box-shipping div {
  display: inline-block;
}
.index .box-info .box-shipping .shipping-action {
  color: #090;
  background: #fff;
  border: 1px solid #ddd;
  padding: 0 20px 0 10px;
  line-height: 24px;
  position: relative;
  margin: 0 5px;
  cursor: pointer;
  font-weight: bold;
}
.index .box-info .box-shipping .shipping-action:hover {
  border: 1px solid #090;
}
.index .box-info .box-shipping .shipping-action i {
  position: absolute;
  top: 5px;
  right: 6px;
}
.index .box-attr > div {
  padding: 5px 0;
  line-height: 30px;
}
.index .box-attr dl {
  zoom: 1 !important;
}
.index .box-attr dl:after {
  content: "." !important;
  display: block !important;
  height: 0px !important;
  clear: both !important;
  visibility: hidden !important;
}
.index .box-attr dt {
  width: 130px;
  float: left;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
}
.index .box-attr dd {
  display: block;
  vertical-align: middle;
  margin-left: 130px;
}
.index .box-attr .color-pick {
  zoom: 1 !important;
}
.index .box-attr .color-pick:after {
  content: "." !important;
  display: block !important;
  height: 0px !important;
  clear: both !important;
  visibility: hidden !important;
}
.index .box-attr .color-pick li {
  float: left;
  width: auto;
  border: 1px solid #ccc;
  background: #F2F2F2;
  text-align: center;
  display: block;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.index .box-attr .color-pick li.active, .index .box-attr .color-pick li:hover {
  border: 2px solid #c00;
  padding: 0;
}
.index .box-attr .color-pick li.active p, .index .box-attr .color-pick li:hover p {
  bottom: -1px;
  right: -1px;
  display: block;
}
.index .box-attr .color-pick input {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  margin: 0;
}
.index .box-attr .color-pick span {
  display: block;
  height: 26px;
  min-width: 26px;
  line-height: 26px;
  padding: 0 2px;
}
.index .box-attr .color-pick p {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 14px solid #e5101d;
  border-left: 14px solid transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
}
.index .box-attr .color-pick p i {
  color: #fff;
  position: absolute;
  top: 6px;
  left: -8px;
  font-size: 8px;
}
.index .show-more {
  width: 15px;
  height: 15px;
  display: block;
  border: 1px solid #dddddd;
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  line-height: 15px;
  color: #666;
}
.index .show-more:hover {
  border: 1px solid #06f;
  color: #06f;
}
.index .show-more.active i:before {
  content: "\f0d8" !important;
}
.index .quantity .quantity-select {
  position: relative;
  display: inline-block;
}
.index .quantity .quantity-select input {
  border: 1px solid #ddd;
  height: 35px;
  width: 45px;
  border-right: none;
  text-align: center;
  padding: 0 5px;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
  outline: 0 !important;
}
.index .quantity .add-qty, .index .quantity .sub-qty {
  position: absolute;
  top: 0;
  left: 45px;
  background-color: #f1f1f1;
  height: 18px;
  width: 18px;
  cursor: pointer;
  display: block;
  border: 1px solid #ddd;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
}
.index .quantity .sub-qty {
  top: 17px;
}
.index .quantity .item-quantity {
  display: inline-block;
  margin-left: 25px;
}
.index .box-action {
  margin-top: 20px;
}
.index .box-action button {
  display: inline-block;
  margin-right: 14px;
  padding: 0 20px;
  width: 430px;
}
.index .box-action button i {
  font-size: 20px;
  margin-right: 10px;
}
.index .box-action .follow-box {
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
}
.index .box-action .follow-box:hover a, .index .box-action .follow-box:hover i {
  color: #0066ff;
}
.index .box-action .follow-box i {
  font-size: 16px;
  color: #e1121c;
}
.index .box-action .follow-box a {
  color: #666;
}
.index .box-action .box-btn {
  margin-bottom: 20px;
}
.index .box-action .box-count-down {
  padding: 10px;
  background: #f5f5f5;
  border: 1px dashed transparent;
  position: relative;
  font-size: 12px;
  display: table;
}
.index .box-action .box-count-down > p {
  display: table-cell;
  width: 40%;
  vertical-align: middle;
}
.index .box-action .box-count-down .count-down {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.index .box-action .box-count-down ul {
  text-align: center;
}
.index .box-action .box-count-down li {
  width: calc(100%/4 - 4%);
  float: left;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin: 0 5px;
  padding: 5px;
}
.index .box-action .box-count-down li p {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0px auto;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
}
.index .bot-content {
  margin-top: 20px;
}
.index .bot-content .content-context {
  border: 1px solid #d3d3d3;
}
.index .bot-content .content-nav.fixed {
  position: fixed;
  top: 65px;
  z-index: 10;
  width: 888px;
  background-color: #f7f7f7;
  padding-top: 0;
}
.index .bot-content .content-nav ul {
  border-bottom: 1px solid #d3d3d3;
  background: #f7f7f7;
  height: 34px;
}
.index .bot-content .content-nav li {
  border-bottom: 1px #d3d3d3 solid;
  border-left: 1px #d3d3d3 solid;
  float: left;
  margin-bottom: -1px;
  cursor: pointer;
  position: relative;
  border-top: none;
}
.index .bot-content .content-nav li:first-child {
  border-left: none;
}
.index .bot-content .content-nav li:before {
  content: '';
  position: absolute;
  left: -1px;
  right: -1px;
  height: 2px;
  top: -1px;
  display: none;
  z-index: 1;
  background-color: #f00;
}
.index .bot-content .content-nav li.active:before, .index .bot-content .content-nav li:hover:before {
  display: block;
}
.index .bot-content .content-nav li.active {
  background: #FFF;
  border-bottom: 1px #FFF solid;
  position: relative;
}
.index .bot-content .content-nav a {
  display: block;
  line-height: 33px;
  padding: 0 15px;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  text-decoration: none !important;
}
.index .bot-content .content-nav a span {
  color: #f00;
  font-weight: normal;
}
.index .bot-content .content-main {
  padding: 20px;
  overflow: hidden;
  line-height: 1.4;
}
.index .image-box {
  position: relative;
}
.index .image-box .main-image img {
  max-width: 100%;
  max-height: 100%;
}
.index .image-box .list-image {
  position: relative;
}
.index .image-box .list-image ul {
  zoom: 1 !important;
  padding: 0 32px;
  overflow: hidden;
  height: 52px;
  width: 350px;
}
.index .image-box .list-image ul:after {
  content: "." !important;
  display: block !important;
  height: 0px !important;
  clear: both !important;
  visibility: hidden !important;
}
.index .image-box .list-image ul li {
  position: relative;
  float: left;
  width: 50px;
  height: 52px;
  margin: 0 3px;
}
.index .image-box .list-image ul li a {
  border: 1px solid #ddd;
  line-height: 52px;
  display: block;
  width: 50px;
  height: 52px;
}
.index .image-box .list-image ul li a.active {
  border: 1px solid #999;
  -webkit-box-shadow: 0 1px 4px #999;
          box-shadow: 0 1px 4px #999;
}
.index .image-box .list-image ul li img {
  display: block;
  margin: 0 auto;
  border: 0;
  max-width: 100%;
}
.index .image-box .list-image .control {
  position: absolute;
  top: 0;
  z-index: 98;
  display: block;
  width: auto;
  height: auto;
  background: #EAEAEA;
  color: #333;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.index .image-box .list-image .control i {
  display: block;
  width: 30px;
  height: 52px;
  font-size: 30px;
  line-height: 52px;
  text-align: center;
}
.index .image-box .list-image .prev {
  left: 0;
}
.index .image-box .list-image .next {
  right: 0;
}
.index .other-product {
  display: block;
  margin-top: 20px;
  border: 1px solid #e5e5e5;
  border-top: 2px solid #e6101c;
}
.index .other-product .title {
  height: 34px;
  position: relative;
  display: block;
  background-color: #f7f7f7;
  padding: 0 0 0 10px;
  line-height: 34px;
  text-transform: uppercase;
  font-size: 13px;
  color: #f00;
}
.index .other-product .title i {
  float: left;
  width: 16px;
  height: 16px;
  color: #e5101d;
  position: relative;
  top: 7px;
  margin-right: 5px;
}
.index .other-product .view-more-box-detail {
  height: 32px;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  line-height: 32px;
  padding: 0;
}
.index .other-product .view-more-box-detail a {
  background-color: transparent;
  color: #333;
  text-decoration: none;
}
.index .other-product .view-more-box-detail a:hover {
  color: #f00;
}
.index .other-product .view-more-box-detail i {
  font-size: 14px;
  position: relative;
}
.index .other-product .item-shop {
  border-top: 1px solid #e7e7e7;
  padding: 10px;
}
.index .other-product .item-shop:first-child {
  border-top: 0;
}
.index .other-product .item-shop a {
  display: block;
  overflow: hidden;
  position: relative;
}
.index .other-product .item-shop a:hover .img {
  border-color: #ccc;
}
.index .other-product .item-shop .img {
  display: block;
  width: 100px;
  height: 100px;
  float: left;
  border: 1px solid #fff;
}
.index .other-product .item-shop .img img {
  max-width: 100%;
  max-height: 100%;
}
.index .other-product .item-shop span {
  display: block;
}
.index .other-product .item-shop .price {
  margin-left: 115px;
}
.index .other-product .item-shop .price span {
  color: #f00;
  font-weight: bold;
}
.index .other-product .item-shop .prod-name {
  color: #333;
}
.index .customer-care {
  margin-bottom: 10px;
}
.index .customer-support {
  border: 1px #e5e5e5 solid;
  padding: 10px;
  padding-left: 50px;
  position: relative;
  margin-bottom: 10px;
}
.index .customer-support p {
  font-weight: bold;
  font-size: 12px;
}
.index .customer-support a {
  color: #0164ff;
  display: block;
  position: relative;
  font-size: 12px;
}
.index .customer-support .tel {
  display: inline-block;
  position: relative;
  color: #f00;
  font-size: 15px;
  cursor: pointer;
}
.index .customer-support .question-mark {
  display: block;
  position: absolute;
  width: 32px;
  height: 26px;
  border: 2px solid #989898;
  text-align: center;
  line-height: 24px;
  font-size: 18px;
  color: #666;
  left: 10px;
  top: 14px;
}
.index .customer-support .question-mark:before, .index .customer-support .question-mark:after {
  content: '';
  display: block;
  width: 0px;
  height: 0px;
  border-left: 16px solid transparent;
  border-right: 0px solid transparent;
  border-top: 10px solid #989898;
  position: absolute;
  right: 2px;
  top: 22px;
}
.index .customer-support .question-mark:after {
  border-top: 7px solid #ffffff;
  border-left: 10px solid transparent;
  border-right: 0px solid transparent;
  right: 4px;
}
.index .relate-product {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #d3d3d3;
}
.index .relate-product .tl {
  height: 34px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #d3d3d3;
}
.index .relate-product .tl span {
  border-top: 2px solid #e5101d;
  background-color: #fff;
  color: #e5101d;
  text-transform: uppercase;
  border-right: 1px solid #d3d3d3;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  position: relative;
  top: -1px;
}
.index .relate-product .box-items-wrap {
  overflow: hidden;
}
.index .relate-product .box-items {
  background-color: #fff;
  overflow: hidden;
  padding: 10px;
  height: 240px;
  margin-right: -15px;
}
.index .relate-product .item {
  float: left;
  position: relative;
  width: 140px;
  margin-left: 40px;
}
.index .relate-product .item:first-child {
  margin-left: 0;
}
.index .relate-product .item a {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  color: #333;
  text-decoration: none;
}
.index .relate-product .item a:hover img {
  -webkit-box-shadow: 0 0 8px #999;
          box-shadow: 0 0 8px #999;
}
.index .relate-product .item img {
  display: block;
  margin: 0 auto;
  border: 1px solid #eee;
  max-width: 100%;
}
.index .relate-product .item .price {
  overflow: hidden;
  line-height: 18px;
  padding: 5px 0;
  display: block;
}
.index .relate-product .item .new-price {
  color: #e5101d;
  display: block;
}
.index .relate-product .item .old-price {
  color: #999;
  text-decoration: line-through;
  display: block;
  font-size: 11px;
  line-height: 1.4;
}
.index .relate-product .prod-name {
  display: block;
  height: 32px;
  line-height: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  font-size: 13px;
  font-weight: normal;
}
.index .relate-product .product-sale {
  background-color: #fff;
  font-size: 13px;
  color: #e5101d;
  text-align: center;
  font-weight: 300;
  position: absolute;
  width: 52px;
  height: 22px;
  line-height: 20px;
  border-radius: 2px;
  border: 1px solid #e5101d;
  right: 5px;
  top: 5px;
}
.index .fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.index .fade.in {
  opacity: 1;
}
.index .tooltip {
  position: absolute;
  z-index: 10;
  display: block;
  font-size: 11px;
  opacity: 0;
  visibility: visible;
}
.index .tooltip .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
}
.index .tooltip.in {
  opacity: 0.8;
  z-index: 1030;
}
.index .tooltip.top {
  margin-top: -3px;
}
.index .tooltip.top .tooltip-arrow {
  bottom: -5;
  left: 50%;
  margin-left: -5px;
  border-top-color: #090;
  border-width: 5px 5px 0;
}
.index .tooltip.right {
  margin-left: 3px;
}
.index .tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0px;
  margin-top: -5px;
  border-right-color: #090;
  border-width: 5px 5px 5px 0;
}
.index .tooltip.bottom {
  margin-top: 3px;
}
.index .tooltip.bottom .tooltip-arrow {
  top: 0px;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #090;
  border-width: 0 5px 5px;
}
.index .tooltip.left {
  margin-left: -3px;
}
.index .tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #090;
  border-width: 5px 0 5px 5px;
}
.index .tooltip .tooltip-inner {
  padding: 4px 8px;
  text-align: left;
  text-decoration: none;
  background-color: #090;
  border-radius: 3px;
  line-height: 18px;
  border: 1px solid #090;
  color: #FFF;
  max-width: 300px;
  min-width: 150px;
  text-align: center;
}
.index .service .tooltip.top .tooltip-arrow {
  opacity: 0;
}

/********** // index **********/
