/******* RESET CSS ***********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?a20hyg");
  src: url("../fonts/icomoon.eot?a20hyg#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?a20hyg") format("truetype"), url("../fonts/icomoon.woff?a20hyg") format("woff"), url("../fonts/icomoon.svg?a20hyg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="si-"], [class*=" si-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.si-dollar:before {
  content: "\e90a";
}

.si-info:before {
  content: "\e909";
}

.si-credit-card:before {
  content: "\e900";
}

.si-deposit:before {
  content: "\e901";
}

.si-eye-view:before {
  content: "\e902";
}

.si-favourite:before {
  content: "\e903";
}

.si-freeship:before {
  content: "\e904";
}

.si-gift:before {
  content: "\e905";
}

.si-lotus:before {
  content: "\e906";
}

.si-shipping-support:before {
  content: "\e907";
}

.si-tag-buy:before {
  content: "\e908";
}

/********** body **********/
body {
  color: #333;
  font-family: 'Roboto', Helvetica, Arial,sans-senif;
  font-size: 13px;
  line-height: 18px;
}

/********** // body **********/
/********** header **********/
header {
  background: #ebf3fb;
  border-bottom: 1px solid #c9dff5;
  position: relative;
  color: #666;
  padding: 10px;
  zoom: 1 !important;
}
header:after {
  content: "." !important;
  display: block !important;
  height: 0px !important;
  clear: both !important;
  visibility: hidden !important;
}
header.fixed {
  position: fixed;
  z-index: 1015;
  top: 0;
  width: 1140px;
  border-radius: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
header.show-btn .button-buy button {
  display: block;
}
header .button-buy {
  position: absolute;
  top: 10px;
  z-index: 1016;
  margin-top: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  white-space: nowrap;
  right: 75px;
}
header .button-buy button {
  margin-right: 10px;
  width: 195px;
  position: relative;
  display: none;
}
header .button-buy button i {
  font-size: 20px;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
}
header .close-lightbox {
  font-size: 32px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  color: #fff;
  background: none;
  border-radius: 2px;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
  line-height: 32px;
}
header .close-lightbox span {
  color: #666;
  display: block;
  width: 28px;
  height: 28px;
}
header .shop-lotus {
  background: url(../images/shared/ic-sprites.png) no-repeat 0 -510px;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: -45px;
}
header .shop-logo {
  width: 82px;
  float: left;
}
header .shop-logo img {
  width: 80px;
  height: 40px;
}
header .show-more-info {
  width: 18px;
  height: 16px;
  border-radius: 2px;
  cursor: pointer;
  background: #fff;
  margin-left: 10px;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 16px;
  color: #e5101d;
}
header .show-more-info:hover {
  border: 1px solid #06c;
  color: #06c;
}
header .show-more-inf {
  background: #EBF3FB;
  position: absolute;
  border: 1px solid #c9dff5;
  padding: 10px;
  border-radius: 2px;
  top: 30px;
  width: 170px;
  left: 236px;
  z-index: 10;
  -webkit-box-shadow: 0px 2px 4px #999;
          box-shadow: 0px 2px 4px #999;
  display: none;
}
header .show-more-inf.active {
  display: block;
}
header .show-more-inf li {
  display: block;
  margin: 0;
  padding: 5px 0;
  font-size: 12px;
  position: relative;
}
header .show-more-inf i {
  position: relative;
  top: 3px;
  margin-right: 5px;
  cursor: help;
  font-size: 18px;
}
header .show-more-inf p {
  color: #666;
  display: inline-block;
  margin: 0;
  font-size: 14px;
}
header .show-more-inf span {
  display: inline-block;
  margin-left: 0;
  font-size: 14px;
  position: absolute;
  right: -4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
header .shop-info {
  float: left;
  margin-left: 10px;
}
header .shop-info a {
  color: #0066cc;
  font-weight: bold;
  font-size: 13px;
  margin-left: 10px;
}
header .shop-info dt, header .shop-info .des {
  font-size: 12px;
}
header .shop-info dt, header .shop-info dd {
  float: left;
  zoom: 1 !important;
}
header .shop-info dt:after, header .shop-info dd:after {
  content: "." !important;
  display: block !important;
  height: 0px !important;
  clear: both !important;
  visibility: hidden !important;
}
header .shop-info dl:first-of-type {
  padding-bottom: 5px;
}
header .shop-info .point {
  font-weight: bold;
  font-size: 14px;
  margin: 0 10px;
}
header .shop-info dd > * {
  float: left;
}
header .shop-info .si-info {
  font-size: 14px;
  margin-left: 10px;
}
header .shop-info .shop-point {
  font-size: 20px;
  color: #e60f1e;
}
header .shop-info .shop-point.gold {
  color: #FFA303;
}
header .shop-info .shop-point.purple {
  color: #FF00FF;
}

/********** // header **********/
/********** footer **********/
/********** // footer **********/
/********** other **********/
.isHide {
  display: none;
}
.isHide.active {
  display: block;
}

.btn a {
  text-decoration: none !important;
}

.pri-btn {
  background: #e60f1e;
  height: 42px;
  border-radius: 3px;
  color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.pri-btn a {
  color: #fff;
}
.pri-btn.big {
  text-transform: uppercase;
}
.pri-btn:hover {
  background: #c9141b;
  color: #fff;
}

.light-btn {
  border: 1px solid #e60f1e;
  height: 42px;
  border-radius: 3px;
  color: #e60f1e;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  font-size: 15px;
}
.light-btn a {
  color: #e60f1e;
}
.light-btn:hover, .light-btn.bold {
  background: #e60f1e;
  color: #fff;
}
.light-btn:hover a, .light-btn.bold a {
  color: #fff;
}

.big {
  text-transform: uppercase;
}

.clearfix {
  zoom: 1 !important;
}
.clearfix:after {
  content: "." !important;
  display: block !important;
  height: 0px !important;
  clear: both !important;
  visibility: hidden !important;
}

/********** // other /**********

/********** content **********/
.page-content {
  width: 1140px;
  margin: 0px auto;
}
.page-content > .wrap {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px #666;
          box-shadow: 0 1px 5px #666;
}

.main-content .main-tt {
  color: #333;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
}
.main-content .box-content {
  background: #fff;
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.main-content .box-content.pb {
  padding-bottom: 30px;
}

.main-section {
  padding: 10px;
  background: #fff;
}

.col-left {
  float: left;
}

.col-right {
  float: right;
}

.main-col {
  position: relative;
  zoom: 1 !important;
}
.main-col:after {
  content: "." !important;
  display: block !important;
  height: 0px !important;
  clear: both !important;
  visibility: hidden !important;
}
.main-col.main-left {
  float: left;
}
.main-col.main-right {
  float: right;
}

/********** // content **********/
