@charset "utf-8";
@import "var";

/********** index **********/
.index {
	.main-left {
		width: 890px;

		.image-box {
			width: 350px;
		}

		.detail-box {
			width: 520px;
		}
	}

	.main-right {
		width: 220px;
	}

	.detail-breadcrumb {
		height: 23px; border-bottom: 1px solid #f1f1f1;
		li {
			float: left;

			&:last-child i {
				display: none;
			}
		}

		a {
			color: #333; font-size: 12px;

			&:hover {
				color: $link;
			}
		}

		i {
			margin: 0 8px;
		}
	}

	h1 {
		display: block; font-size: 19px; color: #333; font-weight: bold;
		line-height: 24px;
	}

	.box-rate {
		margin-top: 10px;

		p {
			margin-left: 10px; float: left;
		}

		i {
			font-size: 16px; margin-right: 1px;
			position: relative; top: 2px;
		}

		span {
			font-size: 12px;
		}

		.star {
			background: $bg -56px -487px; width: 107px; height: 20px;
			float: left; position: relative;

			span {
				position: absolute; top: 0; left: 0;
				bottom: 0; width: 60%; display: block;
				background: $bg -175px -487px;
			}
		}

		.point {
			font-weight: bold; font-size: 12px; line-height: 24px;

			span {
				font-weight: normal; margin: 0 4px;
			}

			a {
				color: #00a0ec; font-weight: normal;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.box-price-wirehouse {
		line-height: 20px; border-top: 1px solid #f1f1f1;
		padding-top: 10px; margin-top: 10px;

		.box-price {
			float: left;
		}

		.cur-price {
			color: #ec2800; font-size: 19px; font-weight: bold;
			margin-right: 10px; display: inline-block;
		}

		.old-price {
			display: inline-block; color: #666; font-size: 12px;
			text-decoration: line-through;
		}

		.update_price {
			display: inline-block;
		}

		.box-wirehouse {
			float: left; line-height: 24px; margin-left: 4px;

			span {
				font-weight: bold;
			}
		}
	}

	.box-offer {
		p {
			font-weight: bold; color: $green; padding: 5px 0;
		}

		i {
			color: $mainRed; font-size: 17px;
		}
	}

	.box-app {
		& > div {
			display: inline-block; background: #fff; position: relative;
			cursor: pointer; line-height: 26px; margin-top: 10px;

			&:hover .description {
				display: block; z-index: 2;
			}
		}

		.description {
			position: absolute; display: none; background: #fff;
			top: 31px; width: 480px; left: 0;
			padding: 10px;
			box-shadow: 0 2px 4px #ccc;

			&:before {
				content: ""; display: block; width: 0; height: 0;
				position: absolute; top: -10px; left: 15px;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
			}

			&:after {
				content: ""; display: block; width: 0; height: 0;
				position: absolute; top: -8px; left: 17px;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				border-bottom: 8px solid #fff;
			}
		}

		.app {
			& > p {
				color: #00a0ec; padding: 0 20px; position: relative;
				border: 1px dashed #beebff; border-left: 3px solid #beebff;
				margin-right: 20px;
			}

			em {
				font-weight: bold;
			}

			.first {
				font-size: 24px; position: absolute; top: 50%;
				transform: translateY(-50%); left: 4px;
			}

			.description {
				border: 1px solid #00a0ec;

				&:before {
					border-bottom: 10px solid #00a0ec;
				}
			}
		}

		.sen-point {
			& > p {
				border: 1px dashed #ffc2c7; border-left: 3px solid #ffc2c7;
				padding: 0 10px; position: relative;
			}

			i {
				color: #e60f1e; font-size: 17px; position: relative;
				bottom: -2px;
			}

			.description {
				border: 1px solid #e5101d;

				&:before {
					border-bottom: 10px solid #e5101d;
				}
			}
		}
	}

	.box-info {
		margin-top: 5px; padding: 10px 10px 0 10px; background: #f5f5f5;
		border: 1px dashed transparent; position: relative;
		font-size: 12px;

		p {
			font-size: 12px;
		}

		.des {
			color: #505050; margin: 5px 0; display: block !important;
		}

		.price {
			color: $green;
		}

		.box-shipping {
			padding-bottom: 5px;

			.big {
				color: $green; font-weight: bold;
			}

			p, div {
				display: inline-block;
			}

			.shipping-action {
				color: $green; background: #fff;
				border: 1px solid #ddd; padding: 0 20px 0 10px;
				line-height: 24px; position: relative;
				margin: 0 5px; cursor: pointer;
				font-weight: bold;

				&:hover {
					border: 1px solid $green;
				}

				i {
					position: absolute; top: 5px; right: 6px;
				}
			}
		}
	}

	.box-attr {
		& > div {
			padding: 5px 0; line-height: 30px;
		}

		dl {
			@include clearfix;
		}

		dt {
			width: 130px; float: left; display: inline-block;
			vertical-align: middle; line-height: 30px;
		}

		dd {
			display: block; vertical-align: middle; margin-left: 130px;
		}

		.color-pick {
			@include clearfix;

			li {
				float: left; width: auto; border: 1px solid #ccc;
				background: #F2F2F2; text-align: center;
				display: block; cursor: pointer; position:relative;
				font-size: 13px; margin-right: 10px; margin-bottom: 5px;
				padding: 1px; box-sizing: border-box;

				&.active, &:hover {
					border: 2px solid #c00; padding: 0;

					p {
						bottom: -1px; right: -1px; display: block;
					}
				}
			}

			input {
				position: absolute; top: 0; left: 0; cursor: pointer;
				width: 100%; height: 100%; z-index: 2;
				opacity: 0; margin: 0;
			}

			span {
				display: block; height: 26px; min-width: 26px;
				line-height: 26px; padding: 0 2px;
			}

			p {
				position: absolute; bottom: 0; right:0;
				width: 0; height: 0;
			    border-bottom: 14px solid #e5101d;
			    border-left: 14px solid transparent;
			    position: absolute; right: 0; bottom: 0;
			    z-index: 1; display: none;

			    i {
				    color: #fff;
				    position: absolute;
				    top: 6px;
				    left: -8px; font-size: 8px;
			    }
			}
		}
	}

	.show-more {
		width: 15px; height: 15px; display: block;
	    border: 1px solid #dddddd; position: absolute;
	    bottom: 5px; right: 5px; border-radius: 2px;
	    cursor: pointer; text-align: center; line-height: 15px;
		color: #666;
	    &:hover {
	    	border: 1px solid #06f; color: #06f;
	    }

	    &.active i:before {
			content: "\f0d8" !important;
	    }
	}

	.quantity {
		.quantity-select {
			position: relative; display: inline-block;
			input {
				border: 1px solid #ddd;
			    height: 35px;
			    width: 45px;
			    border-right: none;
			    text-align: center;
			    padding: 0 5px;
			    font-size: 16px;
			    -webkit-appearance: none;
			    -moz-appearance: none;
			    appearance: none;
			    -moz-appearance: textfield;
			    outline: 0 !important;
			}
		}

		.add-qty, .sub-qty {
		    position: absolute;
		    top: 0;
		    left: 45px;
		    background-color: #f1f1f1;
		    height: 18px;
		    width: 18px;
		    cursor: pointer;
		    display: block;
		    border: 1px solid #ddd;
		    text-align: center;
		    line-height: 18px;
		    font-size: 14px;
		}

		.sub-qty {
			top: 17px;
		}

		.item-quantity {
			display: inline-block; margin-left: 25px;
		}
	}

	.box-action {
		margin-top: 20px;

		button {
			display: inline-block; margin-right: 14px;
			padding: 0 20px; width: 430px;

			i {
				font-size: 20px; margin-right: 10px;
			}
		}

		.follow-box {
		    margin-top: 10px;
		    font-size: 12px;
		    font-weight: bold;
		    display: inline-block;

		    &:hover a, &:hover i {
		    	color: $link;
		    }

		    i {
		    	font-size: 16px; color: #e1121c;
		    }

		    a {
		    	color: #666; 
		    }
		}

		.box-btn {
			margin-bottom: 20px;
		}

		.box-count-down {
			padding: 10px; background: #f5f5f5;
			border: 1px dashed transparent; position: relative;
			font-size: 12px; display: table;

			& > p {
				display: table-cell; width: 40%; vertical-align: middle;
			}

			.count-down {
				display: table-cell; width: 100%; vertical-align: middle;
			}
				
			ul {
				text-align: center;
			}

			li {
				width: calc(100%/4 - 4%); float: left;
				@include shadow; background: #fff;
				margin: 0 5px; padding: 5px;

				p {
					width: 50px; height: 50px; display: block;
					margin: 0px auto; text-align: center;
					line-height: 50px; font-size: 25px;
				}
			}
		}
	}

	.bot-content {
		margin-top: 20px;

		.content-context {
			border: 1px solid #d3d3d3;
		}

		.content-nav {
			
			&.fixed {
			    position: fixed;
			    top: 65px;
			    z-index: 10;
			    width: 888px;
			    background-color: #f7f7f7;
			    padding-top: 0;
			}

			ul {
			    border-bottom: 1px solid #d3d3d3;
			    background: #f7f7f7;
			    height: 34px;
			}

			li {
			    border-bottom: 1px #d3d3d3 solid;
			    border-left: 1px #d3d3d3 solid;
			    float: left;
			    margin-bottom: -1px;
			    cursor: pointer;
			    position: relative;
			    border-top: none;

			    &:first-child {
			    	border-left: none;
			    }

			    &:before {
			    	content: '';
				    position: absolute;
				    left: -1px;
				    right: -1px;
				    height: 2px;
				    top: -1px;
				    display: none;
				    z-index: 1;
				    background-color: #f00;
			    }

			    &.active:before, &:hover:before {
			    	display: block;
			    }

			    &.active {
			    	background: #FFF;
				    border-bottom: 1px #FFF solid;
				    position: relative;
			    }
			}
				
			a {
			    display: block;
			    line-height: 33px;
			    padding: 0 15px;
			    white-space: nowrap;
			    text-transform: uppercase;
			    color: #000;
			    text-decoration: none !important;

			    span {
		    	    color: #f00;
    				font-weight: normal;
			    }
			}
		}

		.content-main {
			padding: 20px; overflow: hidden; line-height: 1.4;
		}
	}

	.image-box {
		position: relative;

		.main-image img {
			max-width: 100%; max-height: 100%;
		}

		.list-image {
			position: relative;
			ul {
				@include clearfix; padding: 0 32px;
				overflow: hidden;height: 52px; width: 350px;

				li {
				    position: relative;
				    float: left;
				    width: 50px;
				    height: 52px;
				    margin: 0 3px;

				    a {
						border: 1px solid #ddd; line-height: 52px;
	    				display: block; width: 50px; height: 52px;

	    				&.active {
    					    border: 1px solid #999;
							box-shadow: 0 1px 4px #999;
	    				}
					}

					img {
					    display: block;
	    				margin: 0 auto;
					    border: 0;
						max-width: 100%;
					}
				}
			}

			.control {
			    position: absolute; top: 0; z-index: 98;
			    display: block; width: auto; height: auto;
			    background: #EAEAEA; color: #333; text-decoration: none;
			    font-weight: 600; font-size: 18px; opacity: 0.7;
			    cursor: pointer;-webkit-transition: all 0.2s ease;
			    transition: all 0.2s ease;

			    i {
			    	display: block; width: 30px; height: 52px;
			    	font-size: 30px; line-height: 52px; text-align: center;
			    }
			}

			.prev {
				left: 0;
			}

			.next {
				right: 0;
			}
		}
	}

	.other-product {
		display: block; margin-top: 20px; border: 1px solid #e5e5e5;
    	border-top: 2px solid #e6101c;

    	.title {
		    height: 34px;
		    position: relative;
		    display: block;
		    background-color: #f7f7f7;
		    padding: 0 0 0 10px;
		    line-height: 34px;
		    text-transform: uppercase;
		    font-size: 13px;
		    color: #f00;

		    i {
	    	    float: left;
			    width: 16px;
			    height: 16px;
			    color: #e5101d;
			    position: relative;
			    top: 7px;
			    margin-right: 5px;
		    }
    	}

    	.view-more-box-detail {
		    height: 32px;
		    border-top: 1px solid #e5e5e5;
		    text-align: center;
		    line-height: 32px;
		    padding: 0;

		    a {
	    	    background-color: transparent;
			    color: #333;
			    text-decoration: none;

			    &:hover {
			    	color: #f00;
			    }
		    }

		    i {
	    	    font-size: 14px;
			    position: relative;
		    }
    	}

    	.item-shop {
		    border-top: 1px solid #e7e7e7;
    		padding: 10px;

    		&:first-child {
    			border-top: 0;
    		}

    		a {
			    display: block; overflow: hidden; position: relative;

			    &:hover .img {
			    	border-color: #ccc;
			    }
    		}

    		.img {
			    display: block;
			    width: 100px;
			    height: 100px;
			    float: left;
			    border: 1px solid #fff;

			    img {
			    	max-width: 100%; max-height: 100%;
			    }
    		}

    		span {
    			display: block;
    		}

    		.price {
    			margin-left: 115px;

    			span {
				    color: #f00;
    				font-weight: bold;
    			}
    		}

    		.prod-name {
    			color: #333;
    		}
    	}
	}

	.customer-care {
		margin-bottom: 10px;
	}

	.customer-support {
	    border: 1px #e5e5e5 solid;
	    padding: 10px;
	    padding-left: 50px;
	    position: relative;
	    margin-bottom: 10px;

	    p {
    	    font-weight: bold;
    		font-size: 12px;
	    }

	    a {
    	    color: #0164ff;
		    display: block;
		    position: relative;
		    font-size: 12px;
	    }

	    .tel {
    	    display: inline-block;
		    position: relative;
		    color: #f00;
		    font-size: 15px;
		    cursor: pointer;
	    }

	    .question-mark {
	    	display: block;
		    position: absolute;
		    width: 32px;
		    height: 26px;
		    border: 2px solid #989898;
		    text-align: center;
		    line-height: 24px;
		    font-size: 18px;
		    color: #666;
		    left: 10px;
		    top: 14px;

		    &:before, &:after {
	    	    content: '';
			    display: block;
			    width: 0px;
			    height: 0px;
			    border-left: 16px solid transparent;
			    border-right: 0px solid transparent;
			    border-top: 10px solid #989898;
			    position: absolute;
			    right: 2px;
			    top: 22px;
		    }

		    &:after {
		    	border-top: 7px solid #ffffff;
			    border-left: 10px solid transparent;
			    border-right: 0px solid transparent;
			    right: 4px;
		    }
	    }
	}

	.relate-product {
	    margin-top: 20px; margin-bottom: 20px;
    	border: 1px solid #d3d3d3;

    	.tl {
		    height: 34px;
		    background-color: #f7f7f7;
		    border-bottom: 1px solid #d3d3d3;

		    span {
	    		border-top: 2px solid #e5101d;
			    background-color: #fff;
			    color: #e5101d;
			    text-transform: uppercase;
			    border-right: 1px solid #d3d3d3;
			    display: inline-block;
			    height: 35px;
			    line-height: 35px;
			    padding: 0 10px;
			    position: relative;
			    top: -1px;
		    }
    	}

    	.box-items-wrap {
    		overflow: hidden;
    	}

    	.box-items {
    		background-color: #fff;
		    overflow: hidden;
		    padding: 10px;
		    height: 240px;
		    margin-right: -15px;
    	}

    	.item {
		    float: left;
		    position: relative;
		    width: 140px;
		    margin-left: 40px;

		    &:first-child {
		    	margin-left: 0;
		    }

		    a {
	    	    display: block;
    			margin: 0 auto;
			    background-color: transparent;
			    color: #333;
			    text-decoration: none;

			    &:hover img {
			    	box-shadow: 0 0 8px #999;
			    }
		    }

		    img {
		    	display: block;
			    margin: 0 auto;
			    border: 1px solid #eee;
			    max-width: 100%;
		    }

		    .price {
	    	    overflow: hidden;
			    line-height: 18px;
			    padding: 5px 0;
			    display: block;
		    }

		    .new-price {
	    	    color: #e5101d;
    			display: block;
		    }

		    .old-price {
	    	    color: #999;
			    text-decoration: line-through;
			    display: block;
			    font-size: 11px;
			    line-height: 1.4;
		    }
    	}

    	.prod-name {
		    display: block;
		    height: 32px;
		    line-height: 16px;
		    display: -webkit-box;
		    -webkit-line-clamp: 2;
		    -webkit-box-orient: vertical;
		    text-overflow: ellipsis;
		    white-space: normal;
		    overflow: hidden;
		    font-size: 13px;
		    font-weight: normal;
    	}

    	.product-sale {
		    background-color: #fff;
		    font-size: 13px;
		    color: #e5101d;
		    text-align: center;
		    font-weight: 300;
		    position: absolute;
		    width: 52px;
		    height: 22px;
		    line-height: 20px;
		    border-radius: 2px;
		    border: 1px solid #e5101d;
		    right: 5px;
		    top: 5px;
    	}
	}

	.fade {
	    opacity: 0;
	    -webkit-transition: opacity 0.15s linear;
	    -moz-transition: opacity 0.15s linear;
	    -o-transition: opacity 0.15s linear;
	    transition: opacity 0.15s linear;
	}
	.fade.in {
	    opacity: 1;
	}
	.tooltip {
	    position: absolute;
	    z-index: 10;
	    display: block;
	    font-size: 11px;
	    opacity: 0;
	    visibility: visible;

	    .tooltip-arrow {
		    position: absolute;
		    width: 0;
		    height: 0;
		    border-style: solid;
		    border-color: transparent;
		}

	    &.in {
		    opacity: 0.8;
		    z-index: 1030;
		}

		&.top {
		    margin-top: -3px;

		    .tooltip-arrow {
			    bottom: -5;
			    left: 50%;
			    margin-left: -5px;
			    border-top-color: #090;
			    border-width: 5px 5px 0;
			}
		}

		&.right {
		    margin-left: 3px;
		    .tooltip-arrow {
			    top: 50%;
			    left: 0px;
			    margin-top: -5px;
			    border-right-color: #090;
			    border-width: 5px 5px 5px 0;
			}
		}

		&.bottom {
		    margin-top: 3px;

		    .tooltip-arrow {
			    top: 0px;
			    left: 50%;
			    margin-left: -5px;
			    border-bottom-color: #090;
			    border-width: 0 5px 5px;
			}
		}

		&.left {
		    margin-left: -3px;
		    .tooltip-arrow {
			    top: 50%;
			    right: 0;
			    margin-top: -5px;
			    border-left-color: #090;
			    border-width: 5px 0 5px 5px;
			}
		}

		.tooltip-inner {
		    padding: 4px 8px;
		    text-align: left;
		    text-decoration: none;
		    background-color: #090;
		    border-radius: 3px;
		    line-height: 18px;
		    border: 1px solid #090;
		    color: #FFF;
		    max-width: 300px;
		    min-width: 150px;
		    text-align: center;
		}
	}
	.service .tooltip.top .tooltip-arrow {
	    opacity: 0;
	}
}
/********** // index **********/