@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?a20hyg');
  src:  url('../fonts/icomoon.eot?a20hyg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?a20hyg') format('truetype'),
    url('../fonts/icomoon.woff?a20hyg') format('woff'),
    url('../fonts/icomoon.svg?a20hyg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="si-"], [class*=" si-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.si-dollar:before {
  content: "\e90a";
}

.si-info:before {
  content: "\e909";
}
.si-credit-card:before {
  content: "\e900";
}
.si-deposit:before {
  content: "\e901";
}
.si-eye-view:before {
  content: "\e902";
}
.si-favourite:before {
  content: "\e903";
}
.si-freeship:before {
  content: "\e904";
}
.si-gift:before {
  content: "\e905";
}
.si-lotus:before {
  content: "\e906";
}
.si-shipping-support:before {
  content: "\e907";
}
.si-tag-buy:before {
  content: "\e908";
}