@charset "utf-8";
@import "reset";
@import "sendo-fonts";

/********** body **********/
body {
	color: #333; font-family: 'Roboto', Helvetica, Arial,sans-senif;
	font-size: 13px; line-height: 18px;
}
/********** // body **********/

/********** header **********/
header {
	background: #ebf3fb; border-bottom: 1px solid #c9dff5;
	position: relative; color: $devil; padding: 10px;
	@include clearfix;

	&.fixed {
		position: fixed;
	    z-index: 1015;
	    top: 0;
	    width: 1140px;
	    border-radius: 0;
	    -webkit-transform: translate3d(0,0,0);
	    transform: translate3d(0,0,0);
	}

	&.show-btn .button-buy button {
		display: block;
	}

	.button-buy {
		position: absolute;
	    top: 10px;
	    z-index: 1016;
	    margin-top: 0;
	    transform: translate3d(0,0,0);
	    white-space: nowrap;
	    right: 75px;

	    button {
    		margin-right: 10px; width: 195px; position: relative;
			display: none;
    		i {
    			font-size: 20px;
			    left: 30px;
			    top: 50%;
			    transform: translateY(-50%);
			    position: absolute;
    		}
	    }
	}

	.close-lightbox {
		font-size: 32px;
	    font-weight: bold;
	    line-height: 18px;
	    text-align: center;
	    color: #fff;
	    background: none;
	    border-radius: 2px;
	    position: absolute;
	    right: 10px;
	    top: 5px;
	    cursor: pointer;
	    text-transform: uppercase;
	    padding: 10px;
	    line-height: 32px;

	    span {
    	    color: #666;
    	    display: block;
		    width: 28px;
		    height: 28px;
	    }
	}

	.shop-lotus {
		background: $bg 0 -510px; width: 70px; height: 70px;
		position: absolute; top: 0; left: -45px;
	}

	.shop-logo {
		width: 82px; float: left;

		img {
			width:  80px; height: 40px;
		}
	}

	.show-more-info {
		width: 18px; height: 16px; border-radius: 2px; cursor: pointer;
		background: #fff; margin-left: 10px; text-align: center;
		border: 1px solid #ddd; line-height: 16px;
		color: #e5101d;

		&:hover {
			border: 1px solid #06c; color: #06c;
		}
	}

	.show-more-inf {
	    background: #EBF3FB;
	    position: absolute;
	    border: 1px solid #c9dff5;
	    padding: 10px;
	    border-radius: 2px;
	    top: 30px;
	    width: 170px;
	    left: 236px;
	    z-index: 10;
	    box-shadow: 0px 2px 4px #999;
	    display: none;

	    &.active {
	    	display: block;
	    }

	    li {
    	    display: block;
		    margin: 0;
		    padding: 5px 0;
	        font-size: 12px;
			position: relative;
	    }

	    i {
	    	position: relative;
		    top: 3px;
		    margin-right: 5px;
		    cursor: help;
		    font-size: 18px;
	    }

	    p {
    	    color: #666; display: inline-block;
    		margin: 0; font-size: 14px;
	    }

	    span {
    	    display: inline-block;
		    margin-left: 0;
		    font-size: 14px;
		    position: absolute;
		    right: -4px;
		    top: 50%;
		    transform: translateY(-50%);
	    }
	}

	.shop-info {
		float: left; margin-left: 10px;

		a {
			color: #0066cc; font-weight: bold; font-size: 13px; margin-left: 10px;
		}

		dt, .des {
			font-size: 12px;
		}

		dt, dd {
			float: left; @include clearfix;
		}

		dl:first-of-type {
			padding-bottom: 5px;
		}

		.point {
			font-weight: bold; font-size: 14px; margin: 0 10px;
		}

		dd > * {
			float: left;
		}

		.si-info {
			font-size: 14px; margin-left: 10px;
		}

		.shop-point {
			font-size: 20px; color: $mainRed;

			&.gold {
				color: #FFA303;
			}

			&.purple {
				color: #FF00FF;
			}
		}
	}
}
/********** // header **********/

/********** footer **********/
footer {}
/********** // footer **********/

/********** other **********/
.isHide {
	display: none;

	&.active {
		display: block;
	}
}
.btn a {
	text-decoration: none !important;
}
.pri-btn {
	background: $mainRed; height: 42px; border-radius: 3px;
	color: #fff; @include shadow;

	a {
		color: #fff;
	}

	&.big {
		text-transform: uppercase;
	}

	&:hover {
		background: $activeRed; color: #fff;
	}
}

.light-btn {
	border: 1px solid $mainRed; height: 42px; border-radius: 3px;
	color: $mainRed; @include shadow; background: #fff; font-size: 15px;

	a {
		color: $mainRed;
	}

	&:hover, &.bold {
		background: $mainRed; color: #fff;

		a {
			color: #fff;
		}
	}
}

.big {
	text-transform: uppercase;
}

.clearfix {
	@include clearfix;
}
/********** // other /**********

/********** content **********/
.page-content {
	width: 1140px; margin: 0px auto;

	& > .wrap {
		border-radius: 5px; box-shadow: 0 1px 5px #666;
	}
}
.main-content {
	.main-tt {
		color: #333; padding-bottom: 20px; font-weight: 500;
		font-size: 16px; text-transform: capitalize;
	}
	.box-content {
		background: #fff;
		padding-top: 30px; padding-right: 15px;
		padding-left: 15px;
		@include shadow; margin-bottom: 20px;

		&.pb {
			padding-bottom: 30px;
		}
	}
}

.main-section {
	padding: 10px; background: #fff;
}

.col-left {
	float: left;
}

.col-right {
	float: right;
}

.main-col {
	position: relative; @include clearfix;
	&.main-left {
		float: left
	}

	&.main-right {
		float: right;
	}
}
/********** // content **********/